@* Copyright (C) 2020 - 2022 APC Inc. *@

@using CorrectionWebApp.Models
@using CorrectionWebApp.Helper
@using System.Linq
@model ImageListModel
@{
    var maxCols = 6;
    var numberOfItems = Model.Images.Count;
    var numberOfRows = Math.Ceiling(1.0 * numberOfItems / maxCols);
}
<form id="frmCheck">
@for (var row = 1; row <= numberOfRows; row++)
{        
    <div class="row no-gutters text-center text-lg-left border border-top-0 border-left-0 border-right-0">
        @for (var col = 1; col <= maxCols; col++)
        {
            var index = (row - 1) * maxCols + col;
            if (index <= numberOfItems)
            {
                var imageItem = Model.Images[index-1];
                <div class="col-xs-18 col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <a href="@Url.Action("Detail","Home", new { id = imageItem.Id})">
                            @*<img src="@Url.Action("Index","Image", new { f = imageItem.ImageFileName, t = true })" alt="">*@
                            <div class="contain2" style="background-image: url('@Url.Action("Index","Image", new { f = imageItem.ImageFileName, t = true })')"></div>
                        </a>
                        <div class="caption">                            
                            <b>(@imageItem.ImageNo)</b><span> @imageItem.CreatedDate.ToStringJpn() </span>                            
                            <br />
                            @* (@(imageItem.Width)x@(imageItem.Height)) *@
                            @if(imageItem.Attributes != null && imageItem.Attributes.Count > 0)
                            {
                                <span>@(string.Join("、", imageItem.Attributes.Select(x => x.Name).ToList()))</span>
                                    
                            }
                            <span> by [<strong>@imageItem.UserName</strong>]</span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-xs-18 col-sm-6 col-md-2">
                    <div class="thumbnail">
                        <img src="~/img/white-blank-image.png" alt="">
                        <div class="caption">

                        </div>
                    </div>
                </div>}
            }
    </div><!-- End row -->
}


</form>